/emacs/.emacs.d
!/emacs/.emacs.d/private
!/emacs/.emacs.d/private
/emacs/.spacemacs.d/.spacemacs.env
dunstrc
kitty-colors.conf
scripts/.scripts/img
nvim/plugged
oni/.config/oni/tsconfig.json
node_modules
coc/.config/coc/commands
coc/.config/coc/history.json
coc/.config/coc/snippets-mru
