! special
*.foreground:   #d1a282
*.background:   #050505
*.cursorColor:  #d1a282

! black
*.color0:       #100a07
*.color8:       #a09fa2

! red
*.color1:       #2f1808
*.color9:       #674438

! green
*.color2:       #5b3f17
*.color10:      #b3a19b

! yellow
*.color3:       #746d48
*.color11:      #a09fa2

! blue
*.color4:       #8b8357
*.color12:      #f9b24f

! magenta
*.color5:       #a29965
*.color13:      #faba61

! cyan
*.color6:       #b9ae73
*.color14:      #d8b196

! white
*color7:       #d0c482
*color15:      #b2642e

URxvt*font:  xft:Source Code Pro:size=13
URxvt*scrollBar:  false

URxvt.transparent:  true
URxvt.shading:      15


