! special
*.foreground:   #d1a282
*.background:   #050505
*.cursorColor:  #d1a282

! black
*.color0:       #100a07
*.color8:       #a09fa2

! red
*.color1:       #683512
*.color9:       #b2642e

! green
*.color2:       #906324
*.color10:      #b3664d

! yellow
*.color3:       #8a7a2c
*.color11:      #9c99a2

! blue
*.color4:       #c4b97b
*.color12:      #f9b24f

! magenta
*.color5:       #e0d38c
*.color13:      #faba61

! cyan
*.color6:       #f1e49d
*.color14:      #d8b196

! white
*.color7:       #333024
*.color15:      #947c74

URxvt*font:  xft:Source Code Pro:size=13
URxvt*scrollBar:  false

URxvt.transparent:    true
URxvt.shading:        35
URxvt*borderLess:     0
URxvt*borderColor:    #e39c39
emacs*borderColor:    #e39c39
emacs*borderWidth: 1
URxvt*externalBorder: 1


